<!-- Contact Form Start -->
   <div class="contact-wrapper">
    <form>
        <legend>Let&rsquo;s Work Together</legend>

        <div class="error-message">
            <p>Please enter a valid email address</p>
        </div>

        <div class="icon">
            <label class="form-label" for="name">Name</label>
            <input class="user" type="text" name="form-name" id="form-name" required>
        </div> 

        <div class="icon">
            <label class="form-label" for="email">Email</label>
            <input class="email error" type="email" name="email" id="email" required>
        </div>
        </fieldset>

    <div class="icon">
        <label class="cd-label" for="form-textarea">Project description</label>
        <textarea class="message" name="form-textarea" id="form-textarea" required></textarea>
    </div>

    <div>
        <input type="submit" value="Send Message">
    </div>
    </form>
</div>
<!-- Contact Form End -->