
<div class="footer">
    <h5>Curfew Studio</h5>
    <p>The design Practice of Drew Albinson</p>
    <p>
        Made with &#9829; and &#9749; in Harlem, NYC
    </p>
    <ul>
        <li class="nav-item">
            <a href="#">Return to Top</a>
        </li>
        <li class="nav-item">
            <a href="{{ site.baseurl }}/work">Work</a>
        </li>
        <li class="nav-item">
            <a href="{{ site.baseurl }}/about.html">About</a>
        </li>
    </ul> 
    <p>&copy; Drew Albinson {{ site.time | date: "%Y" }}</p>
</div>  