---
layout: default
---

<div class="home">

  <ul class="post-list">
    <li>
      <a href="#">Work</a>
    </li>
    <li>
      <a href="{{ site.docs.about.url }}">About</a>
    </li>
  </ul>

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <ul class="post-list">
    {% for doc in site.docs %}
    <li>
      <h2>
        <a class="post-link" href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>

</div>
