// Custom CSS for the index page

.index-wrapper {
    width: 100%;
}

.case-studies {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(center);
    @include flex-flow (row wrap);
    @include align-content(flex-end);
    background-color: $blue;
    padding: $ms-base;
};

.case-study-text {
    max-width: 400px;
    padding-left: 1em;
}

.case-study-image {
    max-width: 600px;
    @include work-item-active ($fog, $blue-dark, $fog-dark);
}

.more-work {
    width: 100%;
    text-align: center;
}

.contact-section {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(center);
    @include flex-flow (row wrap);
    @include align-content(flex-end);
    background-color: $blue;
    padding: $ms-base;
};