// Custom CSS for each project

.project-wrapper {
    width: 90%;
    margin: 0 auto;
    background-color: $fog;
    color: $midnight;
}

.project-hero { 
    img {
        max-width: 100%;
        height: auto;
    }
}
.project {
    max-width: 90%;
    margin: 0 auto;
    padding: $ms-base;
    width: 800px;
}

// Project Typography

.project {
    h1 {
        font-size: ms(2);
    }
    h2 {
        font-size: ms(1);
    }
    h3 {
        font-size: ms(1, .8em);
    }
    h4 {
        font-size: $ms-base;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }
    h5 {
        font-size: $ms-base;
        text-transform: uppercase;
    }
    h6 {
        font-size: $ms-base;
        font-weight: $font-weight-bold;
    }
    p {
        font-family: $merriweather;
    }
    img {
        padding: $ms-base 0;
    }
}