@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;    
}

@mixin work-item-active ($border, $border-shadow, $border-hover){
    border: solid $border .5em;
    @include border-radius(.25em);
    box-shadow: 0px 1px 5px $border-shadow;

    &:hover {
        @include transition(.2s);
        border-color: $border-hover;
    }
}
