// Work Listing Styles
.work-listing {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(center);
    @include flex-flow (row wrap);
    @include align-content(flex-end);
}

.work-item, case-study-item {
    padding: $ms-base;
    width: auto;
    img {
        @include transition(.2s);
        max-width: 400px;
        border: solid $blue-dark .5em;
        border-radius: .25em;
        box-shadow: 0px 1px 5px $midnight-dark;
        
        &:hover {
            @include transition(.2s);
            border-color: $blue;
        }
    }
}

