// Work Listing Styles
.work-listing {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(center);
    @include flex-flow (row wrap);
    @include align-content(flex-end);
}

.work-item, case-study-item {
    padding: ms(1, .2em);
    width: auto;
    img {
        width: 200px;
    }
}

