// Work Listing Styles
.work-listing {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(center);
    @include flex-flow (row wrap);
    @include align-content(flex-end);
}

.work-item, case-study-item {
    padding: $ms-base;
    width: auto;
    img {
        @include transition(.2s);
        @include work-item-active ($blue-dark, $midnight-dark, $blue);
        }
}

.work-description{
    display:none;
}

.work-item:hover {
    img {
        @include transition(.2s);
        opacity: 0.2;
    }
    .work-description{
        @include transition(.2s);
        display: block;
        max-width: 80%;
        y-overflow: hidden;
        position: absolute;
        margin: 1em;
        opacity: 1;
        z-index: 20;
        color: $moon;
        h3 {
            @include transition(.2s);
            font-size: ms(2, .8em);
        }
        p {
            @include transition(.2s);
            color: $cream;
        }
    }
}

@media only screen and (min-width: 1000px){
    .work-item:hover .work-description{
        h3 {
            font-size: ms(2, .5em);
        }
        p {
            font-size: ms(1, .5em);
        }
    }
}

.work-item{
    @include transition(.5s);
    img, .work-description h3, .work-description p{
    @include transition(.5s);
    }
}

.category {
    font-size:  ms(1, .4em);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: .2em .7em;
    background-color: $fog;
    @include border-radius(.5em);
    color: $blue;
    font-weight: $font-weight-bold;
    text-align: center;
    width: auto;
    display:inline-block;
    margin: -.5em;
    position: absolute;
}

.case-study-image:hover .category{
    @include transition(.2s);
    background: $fog-dark;
    color: $midnight;
}