// Curfew brand colors
$midnight: #034a55;
$fog: #a3cbcc;
$moon: #fece08;
$sunset: #f6881f;
$leaf: #249973;
$mint: #48bfaf;
$blue: #3B8C99;
$alert: #da4726;
$rust: #a9492b;
$cream: #eee7db;

// Neutrals

// Misc

//Styles
$background-color: $cream;
$text-color: $midnight;
