// Import Modular Scale
@import
    "vendors/modular-scale"
    ;

// Google Fonts
@import
    url('https://fonts.googleapis.com/css?family=Merriweather:400,400i|Montserrat:300,500')
    ;

// Font Variables
$montserrat: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
$merriweather: 'Merriweather',Georgia,Times,Times New Roman,serif;

// Font Weights
$font-weight-regular: 300;
$font-weight-bold: 500;

// Modular Scale
$ms-base: 1em;
$ms-ratio: $golden;

// Base Styles
$base-font-weight: $ms-base;
$base-font-family: $montserrat;

// Headers
h1 {
    font-size: ms(4);
    line-height: $ms-base;
    font-weight: $font-weight-bold;
}

h2 {
    font-size: ms(3);
    line-height: $ms-base;
}

h3, legend {
    font-size: ms(2);    
    font-weight: $font-weight-bold;
    line-height: ms(1, .8em)
}

h4 {
    font-size: ms(2, 1.5em);
}

h5 {
    font-size: ms(1, 1em);
}

h6 {
    font-size: $ms-base;
    font-weight: $font-weight-bold;
}
